core/model/src/main/resources/schema/login/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cestadomu.cz/hospis/model"
	xmlns:tns="http://www.cestadomu.cz/hospis/model" elementFormDefault="qualified">
	<xs:element name="credentials">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
				<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>