core/model/src/main/resources/schema/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cestadomu.cz/hospis/model"
	xmlns:tns="http://www.cestadomu.cz/hospis/model" elementFormDefault="qualified">
	<xs:complexType name="employee">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="jobDescription" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>